@using System.Linq
@using System.Net.NetworkInformation;
@using System.Globalization;
@inject HttpClient Http

<PageTitle>Computer info: @ComputerName</PageTitle>
<div style="margin: 5px; border: 1px solid #ddd">
<span style="font-size: 2em;">@ComputerName.ToUpper()</span><span style="font-size: 1.5em;">&nbsp;&nbsp;&nbsp;[@IP]</span> <span title="Update" style="font-size: 1em; display: block;" @onclick="Update">🔁 Last update: @time @updateText</span>
<div class="tabs">
    @foreach (Button button in buttons)
    {
        <span class="tab @(button.active ? "tab-active" : "")" @onclick=@(()=>Click(button))>@button.Text</span>
    }
</div>

@if (fullView) // Want to toggle Everything component
{
    <Classes />
} else

if (dataFiltered == null)
{
    <span>LOADING DATA</span>
} else if (dataFiltered.Count > 0)
    {
        <h4>Computer</h4>
            <table class="table table-bordered">
                <tr>
                    <td>Domain</td><td>@Somedata("Win32_ComputerSystem", "Domain")[0]</td>
                </tr>
                <tr>
                    <td>Name</td><td>@Somedata("Win32_ComputerSystem", "Name")[0]</td>
                </tr>
                <tr>
                    <td>UserName</td><td>@Somedata("Win32_ComputerSystem", "UserName")[0]</td>
                </tr>
            </table>
        <h4>OS</h4>
            <table class="table table-bordered">
                <tr>
                    <td>Caption</td><td>@Somedata("Win32_OperatingSystem", "Caption")[0]</td>
                </tr>
                <tr>
                    <td>OSArchitecture</td><td>@Somedata("Win32_OperatingSystem", "OSArchitecture")[0]</td>
                </tr>
                <tr>
                    <td>Version</td><td>@Somedata("Win32_OperatingSystem", "Version")[0]</td>
                </tr>
                <tr>
                    <td>InstallDate</td><td>@ParseTime(Somedata("Win32_OperatingSystem", "InstallDate")[0])</td>
                </tr>
            </table>
        <h4>Disk</h4>
            <table class="table table-bordered">
                @foreach(var item in Somedata("Win32_DiskDrive", "Model")) {
                <tr><td>Model</td><td>@item</td></tr> }
            </table>
            <table class="table table-bordered">
                <tr><td>Name</td>
                    @foreach(var item in Somedata("Win32_LogicalDisk", "Name")) {
                    <td>@item</td> }
                </tr>
                <tr><td>Size</td>
                    @foreach(var item in Somedata("Win32_LogicalDisk", "Size")) {
                    <td>@ParseToMB(item)</td> }
                </tr>
                <tr><td>FreeSpace</td>
                    @foreach(var item in Somedata("Win32_LogicalDisk", "FreeSpace")) {
                    <td>@ParseToMB(item)</td> }
                </tr>
            </table>
        <h4>Memory</h4>
            <table class="table table-bordered">
                <tr>
                    <td>TotalPhysicalMemory</td><td>@ParseToMB(Somedata("Win32_ComputerSystem", "TotalPhysicalMemory")[0])</td>
                </tr>
            </table>
        <h4>Processor</h4>
            <table class="table table-bordered">
                <tr>
                    <td>Processor</td><td>@Somedata("Win32_Processor", "Name")[0]</td>
                </tr>
                <tr>
                    <td>NumberOfLogicalProcessors</td><td>@Somedata("Win32_ComputerSystem", "NumberOfLogicalProcessors")[0]</td>
                </tr>
            </table>
        <h4>Video</h4>
            <table class="table table-bordered">
                    @foreach(var item in Somedata("Win32_VideoController", "Name")) {
                    <tr><td>Name</td><td>@item</td></tr> }
            </table>
        <h4>BIOS</h4>
            <table class="table table-bordered">
                <tr>
                    <td>BIOSVersion</td><td>@Somedata("Win32_BIOS", "BIOSVersion")[0]</td>
                </tr>
                <tr>
                    <td>Caption</td><td>@Somedata("Win32_BIOS", "Caption")[0]</td>
                </tr>
            </table>
    }
else {
    <span>NO DATA</span>
}
</div>

@code {

    [CascadingParameter(Name = "ComputerName")]
    public string ComputerName { get; init; } = "";

    [CascadingParameter(Name = "Backend")]
    public string backend { get; init; } = "http://localhost:5310/";

    private List<string[]>? data = null;
    private List<string[]>? dataFiltered = null;
    private Dictionary<string, string> users = new Dictionary<string, string>{};
    private bool fullView = false;
    private string updateText = "";
    string time = "NA";
    string IP = "WAITING FOR IP";

    struct Button
    {
        public string Name { get; set; }
        public string Text { get; set; }
        public bool active { get; set; }

        public Button() : this("button", "text", false) {}

        public Button(string n, string t, bool a) {
            Name = n;
            Text = t;
            active = a;
        }

    }
    List<Button> buttons = new List<Button>
        {
            new Button("all", "Сводка", true),
            new Button("full", "Всё", false),
        };

    protected async override Task OnInitializedAsync()
    {
        await GetUsers();
        await LoadData(ComputerName, "brief");
        GetIp(ComputerName);
    }

    private async Task LoadData(string computer, string class_) // class_ = class, "brief" or empty
    {
        Dictionary<string, string> req = new Dictionary<string, string> {
            {"action", "read"}, {"target","info"}, { "pc", computer }, { "class", class_ } };
        var response = await Http.PostAsJsonAsync<Dictionary<string, string>>(backend, req);
        var data1 = await response.Content.ReadFromJsonAsync<Dictionary<string, string>[]>();

        if (data1 != null)
        {
            data = new List<string[]>{};
            foreach (var rec in data1)
            {
                if (rec["class"] == "Win32_ComputerSystem" && rec["param"] == "UserName") {
                    string t_login = rec["value"].Substring(rec["value"].IndexOf('\\')+1);
                    string t_user = users.ContainsKey(t_login) ? users[t_login] : "Нет имени";
                    data.Add(new string[] { rec["class"], rec["param"], $"{rec["value"]} ({t_user})" }); }
                else
                    data.Add(new string[] { rec["class"], rec["param"], rec["value"] });
            }
            dataFiltered = data;
            time = ParseTime(Somedata("Win32_OperatingSystem", "LocalDateTime")[0]);
            StateHasChanged();
        }
    }

    private string ParseTime(string timeString)
    {
        DateTime t = DateTime.MinValue;
        if (timeString.Length < 14) return "NA";
        if (!DateTime.TryParseExact(timeString.Substring(0, 14), "yyyyMMddHHmmss", new CultureInfo("ru-RU"), DateTimeStyles.None, out t)) return "NA";
        return $"{t:dd}.{t:MM}.{t:yyyy} {t:HH}:{t:mm}:{t:ss}";
    }

    private void Click(Button btn)
    {
        Tab(btn.Name);
        buttons = buttons.Select(b => { b.active = false; return b; } ).ToList();
        buttons = buttons.Select(b => { if (b.Name == btn.Name) b.active = true; return b; } ).ToList();
    }

    private void Tab(string tab)
    {
        fullView = false;
        if (data != null)
        {
            switch (tab) {
                case "all":
                    dataFiltered = data;
                    break;
                case "full":
                    dataFiltered = new List<string[]>{};
                    fullView = true;
                    break;
            }
        }
    }

    private async void Update()
    {
        Dictionary<string, string> req = new Dictionary<string, string> {
                {"action", "update"}, {"target", ComputerName} };
        var response = await Http.PostAsJsonAsync<Dictionary<string, string>>(backend, req);
        var text = await response.Content.ReadAsStringAsync();
        if (!string.IsNullOrEmpty(text)) updateText = text;
        StateHasChanged(); // Slower but whatever
    }

    private async void GetIp(string ComputerName)
    {
        var p = new Ping();
        try
        {
            var res = await p.SendPingAsync(ComputerName, 2000);
            if (res.Status == IPStatus.Success)
                IP = res.Address.ToString();
            else
                IP = "NOT AVAILABLE";
        }
        catch { IP = "NETWORK ERROR"; }
        StateHasChanged();
    }

    private async Task GetUsers()
    {
        Dictionary<string, string> req = new Dictionary<string, string> {
            {"action", "read"}, {"target","users"} };
        var response = await Http.PostAsJsonAsync<Dictionary<string, string>>(backend, req);
        users = await response.Content.ReadFromJsonAsync<Dictionary<string, string>>() ?? new Dictionary<string, string>{};
    }

    private string[] Somedata(string classname, string param)
    {
        if (dataFiltered != null) {
            var find = dataFiltered.FindAll(s => s[0] == classname && s[1] == param).Select(s => s.ElementAtOrDefault(2) ?? "NA").ToArray();
            if (find.Length < 1) return new string[] {"NA"};
            return find;
        }
        return new string[] {"NA"};
    }

    private string ParseToMB(string bytes)
    {
        long b;
        if (!long.TryParse(bytes, out b)) return "0";
        if ((b = (b-1) / 1024 + 1) < 4096) return b.ToString() + " KB";
        if ((b = (b-1) / 1024 + 1) < 4096) return b.ToString() + " MB";
        if ((b = (b-1) / 1024 + 1) < 4096) return b.ToString() + " GB";
        return "What is this number??? Investigate pls.";
    }
}

<style>
    .tab {
        border: 1px solid #888;
        background-color: #ccc;
        display: flex;
        width: 18%;
        justify-content: center;
    }
    .tab-active {
        background-color: #eee;
    }
    .tabs {
        background-color: #eee;
        display: flex;
        position: relative;
    }
</style>
